<style>
  .search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: white;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-input {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  .navbar-collapse {
    background-color: white !important;
  }

  @media(max-width: 576px) {
    .border-toggle {
      border-bottom: 10px black;
    }
    .navbar-collapse {
      border-right: 10px black ;
      border-left: 10px black ;
    }
    .nav-link {
      padding-left: 1rem !important;
    }
  }

  @media(max-width: 858px) {
    .search-input,
    .search-btn {
      display: none;
    }
  }

  @media(max-width: 927px) {
    .brand-name {
      display: none;
    }
  }

  .brand-name {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fe424d;
    margin-left: -0.4rem;
  }
</style>

<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/listings" class="brand-name">airbnb</a>
        <a class="nav-link border-toggle explore" href="/listings" style="margin-left: 0.6rem;">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search destinations" aria-label="Search"/>
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link border-toggle" href="/listings/new">Become a host</a>
        <% if(!currUser) { %>
          <a class="nav-link border-toggle" href="/users/signup"><b>Sign up</b></a>
          <a class="nav-link border-toggle" href="/users/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/users/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>